@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --bg-tut: #aed581;
  --bg-lab: #4fc3f7;
  --bg-lec: #ffb74d;
  --header: #dfb479;

  --transition-duration: 0.5s;
}

body {
  background-color: var(--bs-body-color);
}

.App {
  font-family: 'Rubik', sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.spinner {
  width: calc(100vw - 40px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    .error-message {
      margin-top: 1rem;
      opacity: 0.1;
      font-size: .85rem !important; // TODO: remove this mf !important
    }
  }
}
p {
  margin: 0 !important;
}
hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.c-bold {
  font-weight: 700 !important;
}
.day {
  background-color: #0d1620 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.shadowed {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5) !important;
}

.main {
  flex-grow: 1;
  display: flex;
}

.bg-lab {
  background-color: var(--bg-lab);
}

.bg-tut {
  background-color: var(--bg-tut);
}

.bg-lec {
  background-color: var(--bg-lec);
}

.bg-black {
  background-color: #000 !important;
  border: none !important;
}

.bg-second {
  transition: all var(--transition-duration) ease;
  background-color: var(--header);
}

.bg-darker {
  background-color: #0d1620;
}

.header {
  box-shadow: 1px 3px 5px #000;
}

.text-bold {
  font-weight: 700 !important;
}

.note {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

.abs {
  position: absolute;
  top: 50%;
  left: 0;
}

.pointer {
  transform: scale(1);
  transition: all var(--transition-duration) ease;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.7;
}

img.pointer:hover {
  transform: scale(0.95);
}

.star {
  transition: all var(--transition-duration) ease;
  width: 1.5rem;
}

.star:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lessonWrapper {
  flex: 1;
  min-height: 700px;
  width: 100%;
  gap: 0.5rem;
}

.day-text {
  width: 40px;
}

.time-indicator-wrapper {
  transition: all var(--transition-duration) ease;
  position: absolute;
  top: -10px;
  height: calc(100% + 10px);
  background-color: crimson;
  width: 4px;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}

.time-indicator-pin {
  position: absolute;
  top: 0;
  left: -4px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: crimson;
}

.wrapperino {
  overflow-x: hidden;
}

.nav-main {
  transition: all var(--transition-duration) ease;
}

.dayLessonsWrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  overflow: visible;
}

@media screen and (max-width: 1200px) {
  .wrapperino {
    overflow-x: scroll !important;
  }
  .lessons,
  .lessonWrapper {
    width: 1200px !important;
  }
  .h-index {
    font-size: 1rem !important;
  }
  .hour {
    font-size: 0.8rem !important;
  }
  .nav-main {
    flex-direction: column !important;
  }
  .course h6 {
    font-size: 0.8rem !important;
    gap: 0.5rem;
  }
}
