@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.App {
  font-family: "Rubik", sans-serif !important;
  min-height: 100vh;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.hodina:hover {
  cursor: pointer;
  opacity: 0.7;
}
.spinner {
  min-height: 75%;
}
p {
  margin: 0 !important;
}
hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.c-bold {
  font-weight: 700 !important;
}
.day {
  background-color: #0d1620 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.shadowed {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5) !important;
}

.main {
  flex-grow: 1;
  display: flex;
}

.bg-lab {
  background-color: #4FC3F7;
}

.bg-tut {
  background-color: #AED581;
}

.bg-lec {
  background-color: #FFB74D;
}

.bg-black {
  background-color: #000 !important;
  border: none !important;
}

.classes {
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.bg-second {
  background-color: #DFB479;
}

.bg-darker {
  background-color: #0d1620;
}

.header {
  box-shadow: 1px 3px 5px #000;
}

.course {
  box-shadow: 1px 3px 5px #000;
  position:relative;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.course:hover {
  transition: all .3s ease;
  opacity: .8;
  cursor: pointer;
}

.text-bold {
  font-weight: 700!important;
}

.note {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

.abs {
  position: absolute;
  top: 50%;
  left: 0;
}

.classes {
  position: relative;
  top: 0;
  flex-grow: 1;
}

.pointer:hover {
  transition: all .7s ease;
  cursor: pointer;
  opacity: .7;
  transform: translateX(3px);
}

.star:hover {
  transition: all .3s ease;
  cursor:pointer;
  opacity: .8;
}

.classWrapper {
  flex: 1;
  min-height: 700px;
  width: 100%;
  gap: 1em;
}

.day-text {
  width: 40px;
}

.time-indicator {
  position: absolute;
  top: -20px;
  height: calc(100% + 20px);
  background-color: crimson;
  width: 4px;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}

.time-indicator-pin {
  position: absolute;
  top: 0;
  left: -4px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: crimson;
}

@media screen and (max-width: 1200px)
{
  .wrapperino {
    overflow-x: scroll!important; 
  }
  .classes, .classWrapper {
    width: 1200px !important;
  }
  .h-index {
    font-size: 1rem !important;
  }
  .hour {
    font-size: .8rem !important;
  }
  .nav-main {
    flex-direction: column !important;
  }
  .course h6 {
    font-size: .8rem !important;
  }
}
