@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --bg-tut: #aed581;
  --bg-tutText: '#212529';
  --bg-lab: #4fc3f7;
  --bg-labText: '#212529';
  --bg-lec: #ffb74d;
  --bg-lecText: '#212529';
  --header: #dfb479;
  --bg-headerText: '#212529';
  --bg-note: #ff0000;
  --bg-noteText: #ffffff;

  --transition-duration: 0.5s;
}

body {
  background-color: var(--bs-body-color);
}

input[type="color"] {
  -webkit-appearance: none;
  position:relative;
}
input[type="color"]::-webkit-color-swatch {
  position:absolute;
  top:-1px;
  left:-1px;
  right:-1px;
  bottom:-1px;
  box-sizing: border-box;
  border:1px solid transparent;
}

.App {
  font-family: 'Rubik', sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.spinner {
  min-height: 75%;
}
p {
  margin: 0 !important;
}
hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.c-bold {
  font-weight: 700 !important;
}
.day {
  background-color: #0d1620 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.shadowed {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5) !important;
}

.main {
  flex-grow: 1;
  display: flex;
}

.bg-lab {
  background-color: var(--bg-lab);
  color: var(--bg-labText);
}

.bg-tut {
  background-color: var(--bg-tut);
  color: var(--bg-tutText);
}

.bg-lec {
  background-color: var(--bg-lec);
  color: var(--bg-lecText)
}

.bg-note {
  background-color: var(--bg-note);
  color: var(--bg-noteText);
}

.logo-main-fill path {
  fill: var(--bg-note);
}

.logo-secondary-fill path {
  fill: var(--bg-headerText);
}

.modal-dark .modal-body {
  background-color: rgb(53, 53, 53);
  border: none;
}

.modal-dark .modal-header {
  background-color: rgb(70, 70, 70);
  border: none;
}

.modal-dark .modal-footer {
  background-color: rgb(43, 43, 43);
  border: none;
}

.bg-black {
  background-color: #000 !important;
  border: none !important;
}

.lessons:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bg-second {
  transition: all var(--transition-duration) ease;
  background-color: var(--header);
  color: var(--bg-headerText);
}

.bg-darker {
  background-color: #0d1620;
}

.header {
  box-shadow: 1px 3px 5px #000;
}

.text-bold {
  font-weight: 700 !important;
}

.note {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
}

.abs {
  position: absolute;
  top: 50%;
  left: 0;
}

.lessons {
  position: relative;
  top: 0;
  flex-grow: 1;
}

.pointer {
  transform: scale(1);
  transition: all var(--transition-duration) ease;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.7;
}

img.pointer:hover {
  transform: scale(0.95);
}

.star {
  transition: all var(--transition-duration) ease;
  width: 1.5rem;
}

.star:hover {
  cursor: pointer;
  opacity: 0.8;
}

.lessonWrapper {
  flex: 1;
  min-height: 700px;
  width: 100%;
  gap: 0.5rem;
}

.day-text {
  width: 40px;
}

.time-indicator-wrapper {
  transition: all var(--transition-duration) ease;
  position: absolute;
  top: -10px;
  height: calc(100% + 10px);
  background-color: crimson;
  width: 4px;
  border-radius: 4px;
  padding: 10px 0 10px 0;
}

.time-indicator-pin {
  position: absolute;
  top: 0;
  left: -4px;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: crimson;
}

.wrapperino {
  overflow-x: hidden;
}

.nav-main {
  transition: all var(--transition-duration) ease;
}

.dayLessonsWrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);

  overflow: visible;
}

@media screen and (max-width: 1200px) {
  .wrapperino {
    overflow-x: scroll !important;
  }
  .lessons,
  .lessonWrapper {
    width: 1200px !important;
  }
  .h-index {
    font-size: 1rem !important;
  }
  .hour {
    font-size: 0.8rem !important;
  }
  .nav-main {
    flex-direction: column !important;
  }
  .course h6 {
    font-size: 0.8rem !important;
    gap: 0.5rem;
  }
}
