.lesson {
    position: relative;
    top: 0;
    cursor: default;
    transition: all var(--transition-duration) ease;

    // the default, un-hovered state
    &:not(:hover) {
        .lesson-intersections .lesson-intersection {
            // "hovered" translate value is set inline by React (!important needed)
            transform: translate3d(0, 0, 0) !important;
            box-shadow: none;
        }
    }

    &.is-inactive {
        filter: brightness(0.4) grayscale(0.25);
    }
}

.lesson-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 1px 3px 7px #000;

    background-color: inherit;
    border-radius: inherit;
}

.lesson-intersections {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: inherit;
    border-radius: inherit;

    // these styles are active when the lesson is hovered
    .lesson-intersection {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        padding: .25rem 0 0 0;
        background-color: inherit;
        border-radius: inherit;
        box-shadow: 1px 2px 7px #000;

        will-change: transform;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }
}